.hc-body {
    margin: 5px;
    padding: 1em 2em 1em 2em;
    background-color: #aaaaff02;
    border-radius: 2px;
    transition: 300ms linear background-color, 300ms linear margin-top, 150ms linear border-top, 100ms linear color;
    font-style: none;
    border: 2px solid #00000010;
    box-shadow: 3px 3px 1px 1px #0001;
    overflow: hidden;
    color: #bbccccc0;
    border-top: 0px solid #ffffff00;
}

.hc-link * {
    box-sizing: border-box;
}

.hc-body:hover {
    border-top: 5px solid #ddddff30;
    background-color: #ffffff03;
    margin-top: 10px;
    color: #d0ccffff;
    transition: 300ms linear background-color, 300ms linear margin-top, 150ms linear border-top, 100ms linear color;
}

.hc-type {
    font-size: 0.8em;
    color: #aaf8;
}

.hc-section-header {
    font-size: 0.9em;
    font-weight: bold;
}

.hc-head {
    float: inline-start;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    margin-right: 2em;
    background-color: #00000010;
    padding-top: 5px;
    padding-bottom: 10px;
    width: 30%;
    box-shadow: 2px 2px #99999903;
}

.hc-title {
    color: #ffaabb99;
    font-size: 150%;
    font-weight: bold;
    text-shadow: 1px 1px #0005;
    transition: 300ms linear color, 300ms linear font-size;
}

.hc-body:hover .hc-title {
    color: #aaddffee;
    font-size: 180%;
    transition: 300ms linear color, 300ms linear font-size;
}

a.hc-link {
    text-decoration: none;
}

.hc-head > img {
    width: auto;
    height: 8em;
    max-width: 100%;
    max-height: 20%;
    margin: 10px;
    border: 2px solid #00000010;
    display: inline-block;
}

.hc-description {
    margin-left: 2.5em;
    display: block;
    padding-left: 1.5em;
    padding-right: 1.5em;
}
